$cell_size: 62.5px;
$background: #004d00;

body{
  background-color:$background;
  margin:0 auto;
  width:100%;
}
#main{
  background-color:black;
  margin:0 auto;
  width:500px;
  height:500px;
}

div.row{
  display:flex;
}

.cell{
  width:$cell_size;
  height:$cell_size;
  transition: .25s;
}
.cell:hover {
  background-color:darkgrey;
}

.white{
  background-color:white;
}

.black{
  background-color:grey;
}
