$board_size: 500px;
$cell_size: 62.5px;
$background: #004d00;

@media screen and (max-width:$board_size + 55){
  $board_size:80vw;
  #main{
    width:$board_size;
    height:$board_size;
  }
  .cell{
    width:$board_size / 8;
    height:$board_size / 8;
  }
  img{
    width: $board_size / 8 - 25;
    height: $board_size / 8;
  }
}
@media screen and (min-width:$board_size+56){
  #main{
    width:$board_size;
    height:$board_size;
  }
  .cell{
    width:$cell_size;
    height:$cell_size;
  }
  img{
    width: 40px;
    height: 60px;
  }
}
body{
  background-color:$background;
  margin:0 auto;
  width:100%;
}

img{
  border:none;
}

#main{
  margin:0 auto;
}

div.row{
  display:flex;
}

.board{
margin-top:20px;
}
.cell{
  text-align: center;
  transition: .25s;
}

.cell:hover {
  background-color:darkgrey;
}

.white{
  background-color:white;
}

.black{
  background-color:grey;
}
.blue{
  background-color:blue;
}
